html,
body,
#sapper {
	width: 100%;
	height: 100%;
}

html {
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	box-sizing: border-box;
	border-collapse: collapse;
}

* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

main {
    padding: var(--nav-h) 0 0 0;
}
